html, body {
  height: 100%;
}
body {
    margin: 0;
    position: relative;
    background: #1e272e;
    color: white;
}
.dodajwpis {
    color: white;
    width: 600px;
    position: relative;
    margin-top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dodajwpisbtn {
    margin-top: 15px;
}
.dodajwpis textarea {
    resize: vertical;
    max-height: 150px;
    min-height: 100px;
    color: white;
    border: none;
}
.usunwpis {
    border:none;
    outline:none;
    background:none;
    cursor:pointer;
    padding:0;
    color: red;
}
form {
    margin: 0;
}
.komentarz {
    width: 300px;
    padding: 5px;
    margin-top: 10px;
    display: inline-block;
    background-color: #1e272e;
    color: white;
    border: none;
}
.komentarz:focus {
    background-color: #1e272e;
    color: white;
}
.komentarze {
    margin-top: 10px;
}
.sort {
    margin: 15px;
}
.btn {
	margin-right: 10px;
}
.usunkomentarz {
    margin-left: 10px;
    color: grey;
}
.usunkomentarz:hover {
    cursor: pointer;
}
.card {
    max-width: 45rem;
    color: white;
    margin: 0 auto;
}
.autorwpisu {
    text-decoration: underline;
}
.timeago {
    font-size: 11px;
    position: relative;
    top: -6px;
    color: grey;
}
.container {
    min-height: 100%;
}
.settings_change {
    display: inline-block;
    width: 300px;
    padding: 5px;
    color: white;
    border: none;
}
.settings_change:focus {
    color: white;
}
.settings {
    display: grid;
    justify-content: center;
}
.changepassword {
    margin: 5px 10px 10px 0;
}
.dropdown-menu {
    padding: 0;
    margin-left: -43px;
}
.dropdown-item {
    color: white;
    background-color: #2d3436;
}
.dropdown-item:hover {
    background-color: #1e272e;
    color: white;
}
.datakomentarza {
    display: inline-block;
    float: right;
}
.imgavatar {
    margin-top: -48px;
    margin-right: 3px;
}
.statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
}
.statistics > div {
    padding: 15px;
}
@media (max-width: 500px) {
  .dodajwpis {
      width: 95%;
  }
}
.imgpost {
    max-width: 100%;
    max-height: 25rem;
}
.taglike-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-left: 12px;
}
#likesModal {
    color: #fff;
}
.likes-modal-body {
    padding: 15px;
}
.number-of-likes:hover {
    cursor: pointer;
}
.modal-header {
    border-bottom: 1px solid #505254;
}
.close span {
    text-shadow: none;
    color: white;
}
.close span:hover {
    color: white;
}
.card-text .more-text{
    display: none;
}
.opis {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
footer {
    background-color: #2d3436;
    padding: 5px;
}