<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Darmowy, nowoczesny mikroblog, możesz tutaj porozmawiać o wszystkim.">
    <meta name="Keywords" content="mikroblog, ivall, rozmowy, chat">
    <title>Mikroblog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/033e78e466.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% include 'navbar.html' %}
<div class="settings" style="margin-top: 100px;">
    <form action="{{ url_for('settings_blueprint.zmienemail') }}" method="post">
        <div class="form-group">
            {{ formr.csrf_token }}
            {{ formr.email(class_="form-control settings_change bg-dark",placeholder="Email") }}<br/>
            <button type="submit" class="btn btn-primary btn-sm" name="changeemail" style="margin-top: 5px;">Zmień email</button>
        </div>
    </form>
    <form action={{ url_for('settings_blueprint.zmienhaslo') }} method="post">
        <div class="form-group settingspassword">
            {{ formp.csrf_token }}
            {{ formp.oldpassword(class_="form-control settings_change changepassword bg-dark",placeholder="Stare hasło") }}<br/>
            {{ formp.password(class_="form-control settings_change changepassword bg-dark",placeholder="Nowe hasło") }}<br/>
            <button type="submit" class="btn btn-primary btn-sm changepassword" name="changeemail" style="margin-top: -5px;">Zmień hasło</button>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>