<div class="card bg-dark mb-3" id="wpis{{ row.id }}">
    <div class="card-header">
        {% if row.autor == "ivall" %}
        <span style="color: red;" class="autorwpisu{{ row.id }}">{{ row.autor }}</span>
        {% else %}
            <span class="autorwpisu{{ row.id }}">{{ row.autor }}</span>
        {% endif %}
        <div class="float-sm-right">
                {% if session['login'] %}
                    {% for lrow in lajki if lrow.post_id == row.id and lrow.user_id == session['login'] %}
                        <button id="likebtn{{ row.id }}" class="btn btn-danger btn-sm unlajkbtn" post_id="{{ row.id }}" type="submit">Odlub</button>
                    {% else %}
                        <button id="likebtn{{ row.id }}" class="btn btn-success btn-sm lajkbtn" post_id="{{ row.id }}" type="submit">Polub</button>
                    {% endfor %}
                {% endif %}
            <i class="fas fa-thumbs-up" style="display:inline-block;"></i> <div class="likes{{ row.id }}" style="display: inline-block;">{{ row.lajki }}</div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{ row.tresc }}</p>
                    {% if session['login'] == row.autor %}
                    <input type="hidden" name="postid" value="{{ row.id }}">
                    <button type="submit" class="usunwpis" post_id="{{ row.id }}">Usuń wpis</button>
            {% endif %}
            </div>
    <div class="card-footer">
		{% if session['login'] %}
            <input class="form-control komentarz" id="komentarz{{ row.id }}" placeholder="Komentarz" required>
            <button type="submit" class="btn btn-primary btn-sm dodajkomentarz" post_id="{{ row.id }}" style="display: inline-block; margin-top: -5px;">Wyślij</button>
        {% endif %}
        <div class="komentarze komentarze{{ row.id }}">
        {% for krow in komentarze %}
            {% if krow.post_id == row.id %}
                <div class="komentarz{{ krow.id }}">
                    {% if krow.autor == row.autor %}<b>{{ krow.autor }}</b>:{% else %}{{ krow.autor }}:{% endif %} {{ krow.tresc }}
                    {% if krow.autor == session['login'] %}
                        <span class="usunkomentarz" kom_id="{{ krow.id }}">&times;</span>
                    {% endif %}<br/>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>