<div class="card bg-dark mb-3" id="wpis{{ row.id }}">
    <div class="card-header" style="height: 55px;">
        <a href="/profil/{{ row.autor }}"><img class="imgavatar" src="https://avatars.dicebear.com/v2/identicon/{{row.autor}}.svg?height[]=30px?width[]=30px"></a>
    <div class="autor" style="display: inline-block; position: relative; top: -8px;">
        {% if row.autor == "ivall" %}
            <a class="autorwpisu{{ row.id }}" href="/profil/{{ row.autor }}" style="color: red;">{{ row.autor }}</a><br/> <a href="/wpis/{{ row.id }}"><time class="timeago" datetime="{{row.data}}"></time></a>
        {% else %}
            <a class="autorwpisu{{ row.id }} text-white" href="/profil/{{ row.autor }}">{{ row.autor }}</a><br/>  <a href="/wpis/{{ row.id }}"><time class="timeago" datetime="{{row.data}}"></time></a>
        {% endif %}
    </div>
        <div class="float-sm-right d-inline-block float-right">
                {% if session['login'] %}
                    {% for lrow in likes if lrow.post_id == row.id and lrow.user_id == session['login'] %}
                        <button id="likebtn{{ row.id }}" class="btn btn-danger btn-sm unlajkbtn" post_id="{{ row.id }}" type="submit">Odlub</button>
                    {% else %}
                        <button id="likebtn{{ row.id }}" class="btn btn-success btn-sm lajkbtn" post_id="{{ row.id }}" type="submit" >Polub</button>
                    {% endfor %}
                {% endif %}
            <i class="fas fa-thumbs-up" style="display:inline-block;"></i> <div class="likes{{ row.id }} d-inline-block number-of-likes" post-id="{{ row.id }}">{{ row.lajki }}</div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text" style="white-space: pre-line;">{{ row.tresc }}<br/></p>
            {% if row.img %}<img src="/static/images/{{ row.id }}" alt="" class="imgpost">{% endif %}
            </div>
    <div class="card-footer">
		{% if session['login'] %}
            {% if session['login'] == row.autor %}<button type="submit" class="usunwpis" post_id="{{ row.id }}">Usuń wpis</button>
            <a href="/edit/{{ row.id }}" style="color: green; margin-left: 15px;">Edytuj wpis</a><br/>{% endif %}
            <input class="form-control komentarz" id="komentarz{{ row.id }}" placeholder="Komentarz" required>
            <button type="submit" class="btn btn-primary btn-sm dodajkomentarz" post_id="{{ row.id }}" style="display: inline-block; margin-top: -5px;">Wyślij</button>
        {% endif %}
        <div class="komentarze komentarze{{ row.id }}">
        {% for krow in comments %}
            {% if krow.post_id == row.id %}
                <div class="komentarz{{ krow.id }} komentarztresc">
                    {% if krow.autor == row.autor %}<a href="/profil/{{ krow.autor }}" style="color: white;"><b>{{ krow.autor }}</b></a>:{% else %}<a href="/profil/{{ krow.autor }}" style="color: white;">{{ krow.autor }}</a>:{% endif %} {{ krow.tresc }}<div class="datakomentarza"><time class="timeago" datetime="{{krow.data}}"></time></div>
                    {% if krow.autor == session['login'] %}
                        <span class="usunkomentarz" kom_id="{{ krow.id }}">&times;</span>
                    {% endif %}<br/>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>