<!--
#############################################
#                                           #
#       STRONA WYKONANA PRZEZ IVALLA        #
#                                           #
#            KONTAKT: ivall.pl              #
#                                           #
#############################################
-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="z-index: 2;">
  <a class="navbar-brand" href="{{ url_for('index_blueprint.index') }}">Mikroblog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if session['login'] %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item text-center">
            <a class="nav-link" href="{{ url_for('follows_blueprint.follows') }}">Obserwowane</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Witaj, {{ session['login'] }}
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/profil/{{ session['login'] }}">Profil</a>
              <a class="dropdown-item" href="{{ url_for('settings_blueprint.ustawieniaget') }}">Ustawienia</a>
              <a class="dropdown-item" href="{{ url_for('logout_blueprint.logout') }}">Wyloguj</a>
            </div>
        </li>
    </ul>
    {% else %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login_blueprint.login') }}">Zaloguj</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register_blueprint.register') }}">Zarejestruj</a>
        </li>
    </ul>
    {% endif %}
  </div>
</nav>