{% extends 'base.html' %}
{% block body %}
{{ super() }}

{% include 'navbar.html' %}
{% include 'likes-modal.html' %}
<div class="container" style="margin-top: 60px;">
<h2 class="text-center">{{ nick }}</h2>
<div class="avatar text-center">
    <img src="https://avatars.dicebear.com/v2/identicon/{{nick}}.svg?height[]=100px?width[]=100px">
</div>
{% if description %}
<div class="opis">
    <p class="text-muted" style="margin-right: 7px;">Opis:</p>
    <p>{{ description }}</p>
</div>
{% endif %}
<div class="statistics" style="margin-top: -5px;">
    <div class="iloscwpisow text-center">
        <h3>{{countPosts}}</h3><br/>
        <h5 style="margin-top: -30px;">{% if countPosts == 0 %}napisanych wpisów{% elif countPosts == 1 %}napisany wpis{% elif countPosts <= 4 %}napisane wpisy{% elif countPosts >= 5 %}napisanych wpisów{% endif %}</h5>
    </div>
    <div class="ilosckomentarzy text-center">
        <h3>{{countComments}}</h3><br/>
        <h5 style="margin-top: -30px;">{% if countComments == 0 %}napisanych komentarzy{% elif countComments == 1 %}napisany komentarz{% elif countComments <= 4 %}napisane komentarze{% elif countComments >= 5 %}napisanych komentarzy{% endif %}</h5>
    </div>
</div>
{% if session['login'] and nick != session['login']  %}
<div class="pm-button-container">
    <form method="GET" action="{{ url_for('pm_system_blueprint.chat', sender=session['login'],reciver=nick) }}">
        <button type="submit" class="btn btn-primary">Wiadomość prywatna</button>
    </form>
</div>
{% endif %}
{% for row in posts %}
    {% include 'wpis.html' %}
{% endfor %}
</div>

{% endblock %}