<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

{% include 'navbar.html' %}
<div class="container-login">
    <form class="rejestracja" method="post">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                  {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
      <h2 class="text-center">Witaj</h2>
      <div class="form-group">
        <label for="nick">Login</label>
        {{ formr.csrf_token }}
        {{ formr.nick(class_="form-control", placeholder="min. 4 znaki") }}
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        {{ formr.email(class_="form-control") }}
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        {{ formr.password(class_="form-control") }}
      </div>
      <div class="recaptcha">
         {{ formr.recaptcha }}
      </div>
        <p style="font-size: 12px;">Rejestrując się wyrażasz zgodę na przechowywanie Twojego ip ze względów bezpieczeństwa.</p>
      <button type="submit" class="btn btn-primary">Zarejestruj się</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha384-LVoNJ6yst/aLxKvxwp6s2GAabqPczfWh6xzm38S/YtjUyZ+3aTKOnD/OJVGYLZDl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>